

body {

  background: #f2f2f2;
  color: #7a7a7a;
  margin: 0;
  line-height: 1.5em;

  font-family: "omnes-pro",sans-serif;
}

fieldset {
	border: none;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-img {
	position: absolute;
	width: 100%;
	height: 400px;
	background-image: url("../img/Guild-Logo-STLBG-1160x360.jpg");
	background-repeat: none;
	z-index: -1000;
}

.box {
	margin: 0 auto;
	margin-top: 10em;
	padding: 2em;
  	width: 800px;
  	background-color: #ffffff;
  	border-radius: 6px;
  	border: 1px solid #ebebeb;



}

.top-section {
	position: relative;
	margin-bottom: 2em;
}

.img-wrapper {

	display: inline-block;
	width: 200px;
	height: 200px;;
	background-color: black;
	float: left;
	margin-top: 1em;
	margin-right: 2em;
	border: 1px solid #ebebeb;

}

.img {
	width: 100%;
	height: 100%;
	background-image: url("../img/logo.png");
	background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;  
}

.payment-subheadings {
	color: #faa638;
	letter-spacing: 1px;
}

#customer-form {
	border-top: 1px solid #ebebeb;
}

.form-section {
	margin-bottom: 2em;
}


.section-content {
	display: inline-block;
	width: 70%;

	h1 {
		color: #d79e5a;
		letter-spacing: 1.25px;
	}
}

.highlight {
	color: #faa638;
	margin-right: .45em;
}

.call-to-action {
	display: block;
	position: relative;
	margin-top: 2em;
}

.field-wrapper {

	label {
		color: #575757;
		  font-weight: 600;
		  font-size: .75em;
		  display: block;
		  max-width: 635px;
		  padding-bottom: .25em;
		  -webkit-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
	}

	input {
		display: block;
		padding: 0.5rem;
		box-shadow: none;
		background-color: white;
		border-radius: 4px;
		border-color: #d4d4d4;
		outline: none;
		color: #4a4a4a;
		height: 2.3125rem;
		width: 75%;
		transition: all .125s !important;
		-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
		-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
		transition: box-shadow 0.45s, border-color 0.45s ease-in-out;




		height: auto !important;
  		
		
		
		 
		  line-height: 20px;
		  font-weight: 300;
		  
		  -webkit-appearance: none;
		  font-family: inherit;
		  border: 1px solid #cccccc;
		  
		  font-size: 0.875rem;
		  margin: 0 0 1rem 0;
		  
		  
		  
		  -moz-box-sizing: border-box;
		  -webkit-box-sizing: border-box;
		  box-sizing: border-box;

		  &:focus {
		  	border-color: #249af7;
		  }
		  
	}
}

.shipping-address {
	display: none;
}

.primary-btn {
  background: #faa638;
  color: #ffffff;
  border: #c57724 thin solid;
  display: block;
  text-align: center;
  border-radius: 3px;
  padding: .5em .875em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: all .125s;
 }

.site-footer {
	display: none;
 	background: #272822;
 	min-height: 100px;
 	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: initial;

}

.form-section {
	border-top: 1px solid #ebebeb;

	&:first-of-type {
		border-top: none;
	}
}

.shipping-info {
	display: none;
}

.card-information {
	position: relative;

	.cvc {
		display: inline-block;
		width: 25%;
	}

	.exp-date {
		display: inline-block;
		width: 55%;
		position: relative;

		#exp-month {
			display: inline-block;
			width: 25%;
			margin-right: 1em;

		}

		#exp-year {
			display: inline-block;
			width: 42%;
		}
	}

}

.city-state {
	position: relative;

	.billing-city, .shipping-city {
		display: inline-block;
		width: 25%;
	}

	.billing-state, .shipping-state {
		display: inline-block;
		width: 25%;
	}

	.billing-zip, .shipping-zip {
		display: inline-block;
		width: 25%;
	}

}

.radio-btn {
	margin-top: 1em;
	margin-bottom: 3em;

	input {
		margin-right: 1em;
	}
}